<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Airmen's Attic/src/com/billings/test/AtticEventsPageTest.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.billings.test.AtticEventsPageTest"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Airmen's Attic"/>
</launchConfiguration>
